.inner__slider{
    display: flex;
    overflow: hidden;
    position: relative;
    width: 300%;
    transition: all .5s;
}

.slide{
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 33.333%;
    height: 100vh;
    position: relative;
}
.slide__1{
    background-image: url(../../assets/slide-3/inner-slide-1/bg-3_1.jpg);
}
.slide__2{
    background-image: url(../../assets/slide-3/inner-slider-2/bg-3_2.jpg);
}
.slide__3{
    background-image: url(../../assets/slide-3/inner-slider-3/bg-3_3.jpg);
}
.range{
    margin: 18px 0;
    width: 60%;
    position: absolute;
    bottom: 5px;
    left: 50%;
    transform: translateX(-50%);
    color: white;
    display: flex;
    justify-content: space-between;
    font-size: 20px;
    font-weight: 300;
}
.tab_1 { 
    height: 320px;
    position: absolute;
    top: 48%;
    left: 52%;
    transform: translate(-50%, -50%)
}.tab_2 { 
    height: 450px;
    position: absolute;
    top: 50%;
    left: 53%;
    transform: translate(-50%, -50%)
}
.tab_3 { 
    height: 450px;
    position: absolute;
    top: 50%;
    left: 48%;
    transform: translate(-50%, -50%)
}
.title_3{
    color: #fff;
    position: absolute;
    top: 110px;
    left: 90px;
    font-size: 32px;
    font-weight: 300;
}

/* input  */
input[type=range] {
    -webkit-appearance: none;
    margin: -15px 0;
    width: 60%;
    position: absolute;
    bottom: 85px;
    left: 50%;
    transform: translateX(-50%);
    background: linear-gradient(to right, #435063 0%, #435063 50%, #435063 50%, #435063 100%);
    height: 10px;
  }
input[type=range]:focus {
   outline: none;
}
/* chrome */
input[type=range]::-webkit-slider-thumb {
    height: 50px;
    width: 39px;
    cursor: pointer;
    -webkit-appearance: none;
    background: url(../../assets/slide-3/toggle.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
/* ff */
input[type=range]::-moz-range-thumb {
    height: 50px;
    width: 39px;
    cursor: pointer;
    margin-top: -28px;
    background: url(../../assets/slide-3/toggle.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
/* ie */
input[type=range]::-ms-thumb {
    height: 50px;
    width: 39px;
    cursor: pointer;
    margin-top: -28px;
    background: url(../../assets/slide-3/toggle.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

  
@media(max-width: 1000px){
    .tab_2 { 
        height: 340px;    
    }
    .tab_3 { 
        height: 340px;
    }
}